*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  background:#0a0a0a;
  color:white;
  font-family:'Montserrat', sans-serif;
}

/* NAVBAR */

header{
  position:fixed;
  top:0;
  width:100%;
  padding:20px 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(8px);

  z-index:1000;
}

.logo{
  font-size:30px;
  font-weight:900;
  letter-spacing:3px;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:25px;
  font-weight:500;

  transition:0.3s;
}

nav a:hover{
  color:#999;
}

/* HERO */

.hero{
  height:100vh;

  background:
  url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=1974")
  center/cover no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;

  position:relative;
  text-align:center;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.65);
}

.hero-content{
  position:relative;
  z-index:2;
  max-width:800px;
}

.hero h1{
  font-size:85px;
  font-weight:900;
}

.hero p{
  margin-top:15px;
  color:#ccc;
  font-size:20px;
}

/* BUTTON */

.btn{
  display:inline-block;

  margin-top:35px;
  padding:14px 34px;

  border-radius:8px;

  background:white;
  color:black;

  text-decoration:none;
  font-weight:700;

  transition:0.3s;
}

.btn:hover{
  transform:translateY(-3px);
  opacity:0.9;
}

/* ABOUT */

.about{
  padding:120px 10%;
  text-align:center;
}

.about h2{
  font-size:45px;
  margin-bottom:20px;
}

.about p{
  color:#aaa;
  max-width:700px;
  margin:auto;
}

.cards{
  margin-top:60px;

  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:25px;
}

.card{
  background:#141414;
  padding:40px 25px;

  border-radius:15px;

  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card h3{
  margin-bottom:15px;
}

/* DISCORD */

.discord{
  padding:120px 10%;
  text-align:center;
}

.discord h2{
  font-size:45px;
}

.discord p{
  color:#aaa;
  margin-top:15px;
}

/* ANIMATIONS */

.fade-up{
  animation:fadeUp 1s ease;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(30px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}